<div class="fieldBg">
    <div class="shipControls">
        <button class="turnIndicator" [ngClass]="{ active: !game.isHumanTurn }">
            <span *ngIf="!player.allShipsAreOnFire() && !opponent.allShipsAreOnFire()">{{20 - player.firedBlockCountTotal}}</span>
            <span *ngIf="player.allShipsAreOnFire()">Lost</span>
            <span *ngIf="opponent.allShipsAreOnFire()">Win</span>
        </button>
        <button class="turnCounter">Turn: <b>{{turnNumber || 0}}</b></button>
        <button class="turnIndicator" [ngClass]="{ active: game.isHumanTurn }">
            <span *ngIf="!player.allShipsAreOnFire() && !opponent.allShipsAreOnFire()">{{20 - opponent.firedBlockCountTotal}}</span>
            <span *ngIf="player.allShipsAreOnFire()">Win</span>
            <span *ngIf="opponent.allShipsAreOnFire()">Lost</span>
        </button>
    </div>
    <div class="field fieldBorder">
        <div *ngFor="let row of player.field" class="row">
            <div *ngFor="let square of row"
                 class="square"
                 [ngClass]="{
                    placedShip: square.isShip,
                    shipIsOnFire: square.isShip && square.isFired,
                    fieldIsOnFire: !square.isShip && square.isFired
                 }">
                <div *ngIf="square.isShip" class="part part{{square.ship.blocks.length}}_{{ square.blockNum + 1}}"
                     [ngClass]="{ shipHoriszontal: square.ship && square.ship.blocks.length === 1 || square.isShip && !square.ship.isVertical }">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <div *ngFor="let row of opponent.field" class="row">
            <div *ngFor="let square of row"
                 class="square"
                 [ngClass]="{
                    placedShip: square.isShip,
                    shipIsOnFire: square.isShip && square.isFired,
                    fieldIsOnFire: !square.isShip && square.isFired
                 }"
                 (click)="onOpponentFieldClick(square)">
                <div *ngIf="square.isShip && (opponent.areAllBlocksFired(square.ship) || player.allShipsAreOnFire())" class="part part{{square.ship.blocks.length}}_{{ square.blockNum + 1}}"
                     [ngClass]="{ shipHoriszontal: square.ship && square.ship.blocks.length === 1 || square.isShip && !square.ship.isVertical }">
                </div>
            </div>
        </div>
    </div>
    <div class="shipControls">
        <button routerLink="/preparing">Quit</button>
    </div>
</div>