.field {
    width: 270px;
    height: 270px;
    display:inline-block;
}
.row {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.square {
    width:25px;
    height:25px;
    display:inline-block;
    background-color: darkgray;
    outline:1px solid white;
}
.openForShip {
    background-color:green !important;
}
.placedShip {
    background-color:darkred !important;
}
.prePlacedShip {
    background-color:blue !important;
}

.shipIsOnFire {
    background-color: #ff000b !important;
}
.fieldIsOnFire {
    background-color: #4682a0 !important;
}

.ships {
    vertical-align: top;
    display:inline-block;
    margin-left:50px;
    line-height: 0;
}

.shipControls {
    margin-bottom: 30px;
}

.column {
    vertical-align: top;
    display:inline-block;
    height: 270px;
    // width: 50px;
    text-align:center;
    line-height: 0;
}

.ship {
    margin:20px 15px;
    line-height: 0;
}
.shipHoriszontal {
    display:inline-block;
    transform: rotate(0deg) !important;
}
.shipHoriszontalHidden {
    max-width: 25px;
}

.part{
    width:25px;
    height:25px;
    transform: rotate(90deg);
    background-size: 25px;
}

.part1_1{
    background-image: url("./img/ship1.svg");
}

.part2_1{
    background-image: url("./img/ship3_1.png");
}

.part2_2{
    background-image: url("./img/ship3_3.png");
}

.part3_1 {
    background-image: url("./img/ship3_1.png");
}
.part3_2{
    background-image: url("./img/ship3_2.png");
}
.part3_3{
    background-image: url("./img/ship3_3.png");
}

.part4_1 {
    background-image: url("./img/ship3_1.png");
}
.part4_2{
    background-image: url("./img/ship3_2.png");
}
.part4_3{
    background-image: url("./img/ship3_2.png");
}
.part4_4{
    background-image: url("./img/ship3_3.png");
}

.opacity50 {
    opacity: 0.5;
}

.opacity100 {
    opacity: 0;
}
.hidden {
    visibility: hidden;
}